body{
    background-color: rgb(21, 10, 69);
}

h1{
    font-size: 44px;
    text-align: center;
    color: rgb(234, 98, 98);


}

.sketch{
    display: flex;
    justify-content: space-evenly;

}




.buttons{
    text-align: center;
    background-color: rgba(63, 46, 117, 0.243);
    padding: 8px;
    border-radius: 8px;
}


button{
    display: block;
    width: 160px;
    height: 50px;
    margin: 15px;
    font-size: 18px;
    color: #b441ab;
    cursor: pointer;
  
    text-align:center;
    font-weight: 600;
    border: #b851af solid 1px;
    background: none;

    border-radius: 50px;
    transition: all .3s ease-in-out;

   

    
}

button:hover, .active-button{
    color: #fff;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    
}

.container{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
}


.row{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.column{
    flex: 1;
    /*border: 0.01px solid rgb(141, 138, 138);*/
}