body{
    background-color: rgb(23, 13, 83);
}

h1{
    text-align: center;
    color: #fff;


}

.sketch{
    display: flex;
    justify-content: space-evenly;

}




.buttons{
    text-align: center;
    background-color: rgba(58, 36, 130, 0.456);
    padding: 8px;
    border-radius: 8px;
}


button{
    display: block;
    width: 100px;
    height: 25px;
    margin: 15px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
  
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    transition: all .4s ease-in-out;

    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);

    
}

.container{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
}


.row{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.column{
    flex: 1;
    border: 0.01px solid rgb(141, 138, 138);
}