@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');



body{
    background-color: rgb(21, 10, 69);
}

h1{
    font-size: 60px;
    text-align: center;
    color: #eb5c8e;
    font-family: 'Play', sans-serif;
}

.sketch{
    display: flex;
    justify-content: space-evenly;
}



.buttons{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(63, 46, 117, 0.243);
    padding: 30px;
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
}

button, .range-count{
    font-size: 20px;
    color: #ed6ea0;
    font-family: sans-serif;
    text-align:center;
}

button{
    display: block;
    width: 160px;
    height: 50px;
    cursor: pointer;
    font-weight: 700;
    border: #ed6ea0 solid 1px;
    background: none;
    border-radius: 50px;
    transition: all .3s ease-in-out;

}

button:hover, .active-button{
    color: rgb(244, 241, 255);
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #ee4186, #a869ec, #d83d75 , #3bf5fb);
    
}

.container{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 20px 20px 0px 0px #d96191;
}


.row{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.column{
    flex: 1;
    
}

.grid-border{
    border: 0.01px solid rgba(178, 176, 176, 0.56);
    
}

.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 8px;
    background: #e6e3e3;
    border-radius: 5px;
    outline: none;
  }
  
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #de5ac8;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #de5ac8;
    cursor: pointer;
  }

